body{
    display: flex;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: #d9daee;
}

#signInForm{
    background-color: #48408f;
    padding:10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width:20%;
    height: auto;
    justify-content: space-around;
}

.campo{
    margin:5px;
    padding:5px;
    display: flex;
    flex-direction: column;

}

input, button[type="submit"]{
    border-radius: 5px;
    border-color: transparent;
    height: 25px;
}

button[type="submit"]{
    color:#48408f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button[type="submit"]:hover{
    cursor:pointer;
    background-color: #F4E1C3;
}

.lblArriba{
    color:#F4E1C3;
    font-family: 'Jersey 10';
    font-size:140%;
}

.error, #buttPromedioResult{
    color:rgb(214, 113, 113);
    font-family: Verdana, Geneva;
    font-size:80%;
}

.bien, #buttPromedioResultBien{
    color:rgb(190, 240, 132);
    font-family: Verdana, Geneva;
    font-size:80%;
    margin:0px;
}

#buttMayorNotaResult{
    color:rgb(132, 191, 240);
    font-family: Verdana, Geneva;
    font-size:80%;
}
